<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>185147947234-naa9gcjnvt3gqgs9p37fvqnead75c6fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185147947234-naa9gcjnvt3gqgs9p37fvqnead75c6fi</string>
	<key>API_KEY</key>
	<string>AIzaSyBdhyVokujByE0lWPi6o9RuprgjJPRh9aw</string>
	<key>GCM_SENDER_ID</key>
	<string>185147947234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RedRudy.G-Maps</string>
	<key>PROJECT_ID</key>
	<string>g-maps-1516905014356</string>
	<key>STORAGE_BUCKET</key>
	<string>g-maps-1516905014356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185147947234:ios:c805ed09b57968e4</string>
	<key>DATABASE_URL</key>
	<string>https://g-maps-1516905014356.firebaseio.com</string>
</dict>
</plist>